/* Calendar Styles */
.calender {
    width: 1920px; 
    height: 1080px; 
    position: relative; 
    background: #1E1F22;
}
  
.calendar-background {
    width: 1172px; 
    height: 967px; 
    left: 164px; 
    top: 53px; 
    position: absolute; 
    background: #313338; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; 
    border-radius: 45px; 
    border: 1px black solid;
}
  
.month-text {
    width: 295px; 
    height: 76px; 
    left: 200px; 
    top: 85px; 
    position: absolute; 
    color: rgb(255, 255, 255); 
    font-size: 70px; 
    font-family: 'Inria Sans'; 
    font-weight: 400; 
    word-wrap: break-word;
}

/* 가로 칸 : 26+101+26 = 157 간격 */
.day {
    width: 1099px; 
    height: 50px; 
    left: 198px; 
    top: 258px; 
    position: absolute;
}

.day-sun {
    width: 101px; 
    height: 32px; 
    left: 28px; 
    top: 0px; 
    position: absolute; 
    text-align: center; 
    color: #FF0000; 
    font-size: 32px; 
    font-family: Inter; 
    font-weight: 500; 
    word-wrap: break-word;
}

.day-mon {
    width: 101px; 
    height: 32px; 
    left: 185px; 
    top: 0px; 
    position: absolute; 
    text-align: center; 
    color: rgb(255, 255, 255); 
    font-size: 32px; 
    font-family: Inter; 
    font-weight: 500; 
    word-wrap: break-word;
}

.day-tue {
    width: 101px; 
    height: 32px; 
    left: 342px; 
    top: 0px; 
    position: absolute; 
    text-align: center; 
    color: rgb(255, 255, 255); 
    font-size: 32px; 
    font-family: Inter; 
    font-weight: 500; 
    word-wrap: break-word;
}

.day-wed {
    width: 101px; 
    height: 32px; 
    left: 499px; 
    top: 0px; 
    position: absolute; 
    text-align: center; 
    color: rgb(255, 255, 255); 
    font-size: 32px; 
    font-family: Inter; 
    font-weight: 500; 
    word-wrap: break-word;
}

.day-thu {
    width: 101px; 
    height: 32px; 
    left: 656px; 
    top: 0px; 
    position: absolute; 
    text-align: center; 
    color: rgb(255, 255, 255); 
    font-size: 32px; 
    font-family: Inter; 
    font-weight: 500; 
    word-wrap: break-word;
}

.day-fri {
    width: 101px; 
    height: 32px; 
    left: 813px; 
    top: 0px; 
    position: absolute; 
    text-align: center; 
    color: rgb(255, 255, 255); 
    font-size: 32px; 
    font-family: Inter; 
    font-weight: 500; 
    word-wrap: break-word;
}

.day-sat {
    width: 101px; 
    height: 32px; 
    left: 970px; 
    top: 0px; 
    position: absolute; 
    text-align: center; 
    color: #538DFF; 
    font-size: 32px; 
    font-family: Inter; 
    font-weight: 500; 
    word-wrap: break-word;
}

.day-line {
    width: 1099px; 
    height: 0px; 
    left: 0px; 
    top: 50px; 
    position: absolute; 
    border: 2px white solid;
}

.calender-container {
    width: 1099px;
    height: 666px;
    left: 198px;
    top: 322px;
    position: absolute;
}

.left-button {
    width: 43px;
    height: 43px; 
    left: 206px; 
    top: 177px; 
    position: absolute;
}

.right-button {
    width: 43px;
    height: 43px; 
    left: 361px; 
    top: 177px; 
    position: absolute;
}

.button-box {
    width: 43px; 
    height: 43px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #7289DA; 
    border-radius: 10px
}

.button-text {
    width: 43px; 
    height: 43px; 
    left: 0px; 
    top: 7px; 
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 800; 
    word-wrap: break-word;
}

.today-button {
    width: 87px; 
    height: 43px; 
    left: 261px; 
    top: 177px; 
    position: absolute;
}

.today-box {
    width: 87px; 
    height: 43px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #7289DA; 
    border-radius: 10px;
}

.today-text {
    width: 87px; 
    height: 43px; 
    left: 0px; 
    top: 7px; 
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 800; 
    word-wrap: break-word;
}

.right {
    width: 432px; 
    height: 967px; 
    left: 1350px; 
    top: 53px; 
    position: absolute;
}

.right-background {
    width: 432px; 
    height: 967px; 
    left: 432px; 
    top: 970px; 
    position: absolute; 
    transform: rotate(180deg); 
    transform-origin: 0 0; 
    background: #313338; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; 
    border-radius: 45px; 
    border: 1px black solid;
}

.right-divide-line {
    width: 395px; 
    height: 0px; 
    left: 18px; 
    top: 98px; 
    position: absolute; 
    border: 2px white solid;
}

.create {
    width: 121px; 
    height: 50px;
    left: 18px; 
    top: 26px; 
    position: absolute;
}

.update {
    width: 121px; 
    height: 50px; 
    left: 155px; 
    top: 26px; 
    position: absolute;
}

.delete {
    width: 121px; 
    height: 50px; 
    left: 292px; 
    top: 26px; 
    position: absolute;
}

.cud-box {
    width: 121px; 
    height: 50px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #7289DA; 
    border-radius: 45px;
}

.cud-text {
    width: 121px; 
    height: 50px; 
    left: 0px; 
    top: 10px; 
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 24px; 
    font-family: Inter; 
    font-weight: 700; 
    word-wrap: break-word;
}